{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ثبت نام در سایت پرشین موبایل</title>
    <link rel="icon" type="image/png" href="">
    <link rel="stylesheet" href="{% static 'login/styles/app.css' %}">
    <link rel="icon" type="image/png/svg" href="{% static 'login/image/mobile.svg'%}">
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <h1>پرشین موبایل</h1>
        <br>
        <div>
            <input type="email" placeholder="ایمیل" name="login" required>
        </div>
        <br>
        <div>
            <input type="password" placeholder="رمز عبور" name="password" required>
        </div>
        <br>
        <div>
            حساب کاربری ندارید؟  <a class="singup_link" href="{% url 'account_signup' %}">ثبت نام کنید</a>
        </div>
        <br>
        <button type="submit">ورود</button>
        <!-- <input type="submit" value="ثبت نام"> -->
    </form>

</body>
</html>