@font-face{
    font-family: "Vazir Bold";
    src: local("Vazir Bold"),
    url(../fonts/Vazir-Bold.woff2),("truetype");
}
@font-face{
    font-family: "Vazir Light";
    src: local("Vazir Light"),
    url(../fonts/Vazir-Light.woff2),format("truetype");
}
@font-face{
    font-family: "Vazir Medium";
    src: local("Vazir Medium"),
    url(../fonts/Vazir-Medium.woff2),format("truetype");
}