{% load static %}
{% load persian_translation_tags %}
{% load humanize %}


<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apple products</title>
    <link rel="stylesheet" href="{% static 'products/apple/app.css' %}">
    <link rel="stylesheet" href="{% static 'products/apple.responsive.css' %}">
    <link rel="icon" type="image/png" href="../apple/images/svg/mobile.svg">
</head>
<body>
<div class="container">
    <div class="heaeder__container">
        <div class="section-title">
            <h3 class="section-title_h">
                <svg class="section__title-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                     fill="currentColor">
                    <path fill-rule="evenodd"
                          d="M11.47 13.28a.75.75 0 0 0 1.06 0l7.5-7.5a.75.75 0 0 0-1.06-1.06L12 11.69 5.03 4.72a.75.75 0 0 0-1.06 1.06l7.5 7.5Z"
                          clip-rule="evenodd"/>
                    <path fill-rule="evenodd"
                          d="M11.47 19.28a.75.75 0 0 0 1.06 0l7.5-7.5a.75.75 0 1 0-1.06-1.06L12 17.69l-6.97-6.97a.75.75 0 0 0-1.06 1.06l7.5 7.5Z"
                          clip-rule="evenodd"/>
                </svg>
                جدیدترین محصولات iphone
            </h3>
        </div>
        <div class="nav__left--login">
            <a class="login__link" href="{% url 'account_login' %}">
                ورود | ثبت نام
            </a>
        </div>
    </div>
    <div class="row">
        {% for product in products %}
            <div class="product">
                <img class="product__image" src="{{ product.image.url }}" alt="product1">
                <h4 class="product__name">
                    <a href="{% url 'detailview' product.id %}" class="product__link"> {{ product.description }} </a>
                </h4>
                <div class="product__price">
                   <span class="product__price-number">{{ product.price|intcomma:False|translate_number }}</span>
                   <span class="product__price-unit">تومان</span>
                </div>
{#                <div class="product__rating">#}
{#                    <span class="product__rating-number">5</span>#}
{#                    <svg class="product__rating-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">#}
{#                       <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />#}
{#                     </svg>#}
{#                  </div>#}
                <a class="link__buttom buttom" href="{% url 'detailview' product.id %}">مشاهده بیشتر</a>
            </div>
        {% endfor %}
    </div>
</body>
</html>